# Ignore everything
*

# But not git files...
!.gitattributes
!.gitignore
# Neither these files...

!*.bib
!*.bst
!*.cls
!*.tex
!dictionary.pws
!Makefile
!warnspell.sh
!README.md

# Nor these directories...
!cls/
!bib/
# !bst/
!fig/
!img/
# !ist/
!pages/
!plots/
!secs/
!setup/
!tables/